<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./layout.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="background-header">
                <img src="../img/Mask_Group.png" alt="" style="width: 100%;">
            </div>
            <div class="decor">
                <img src="../img/Line_3.png" alt="" class="decor-detail line-1">
                <img src="../img/Line_3.png" alt="" class="decor-detail line-2">
                <img src="../img/Rectangle_13.png" alt="" class="decor-detail box-1">
                <img src="../img/Ellipse_1.png" alt="" class="decor-detail ellipse-1">
                <img src="../img/Ellipse_2.png" alt="" class="decor-detail ellipse-2">
                <img src="../img/Line_1.png" alt="" class="decor-detail line-3">
                <img src="../img/Group_87.png" alt="" class="decor-detail ellipse-3">
            </div>
            <div class="header-inner">
                <div class="header-menu">
                    <div class="logo">
                        <a href="#">
                            <img src="../img/MAIATECH.png" alt="" style="width: 300px;">
                            <div style="text-align: center; font-size: 15px; padding-top: 10px;">nhiều nỗ lực - một niềm tin</div>
                        </a>
                    </div>
                    <div class="menu">
                        <nav>
                            <ul>
                                <li><a href="#">GIỚI THIỆU</a></li>
                                <li><a href="#">DỊCH VỤ</a></li>
                                <li><a href="#">DỰ ÁN</a></li>
                                <li><a href="#">ĐỘI NGŨ</a></li>
                                <li><a href="#">LIÊN HỆ</a></li>   
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="slogan">
                    <p>
                        <span style="font-size: 300px; font-weight: bold;">1</span>
                        <span class="flex">
                            <span style="font-size: 90px;">nhiều nỗ lực</span>
                            <span style="font-size: 150px; font-weight: bold;">niềm tin</span>
                        </span>
                    </p>
                    <div class="line"></div>
                    <button class="follow-btn">FOLLOW US</button>
                    <div class="contact-social">
                        <ul>
                            <li>
                                <a href="#"><img src="../img/facebook.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="../img/twitter.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="../img/google.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="introduce">
                <div class="introduce-content">
                    <div class="header-introduce-content">
                        <div style="font-size: 100px; font-weight: bold; color: #0061B0; position: absolute; top: -400px;">WHO</div>
                        <div style="font-size: 80px; color: #8f8f8f; position: absolute; top: -300px; left: 200px;">WE ARE</div>
                    </div>
                    <div style="font-size: 20px; font-weight: bold; position: absolute; top: -150px;">
                        Công ty TNHH Công nghệ MaiA <br>
                        MaiA Technology Co.Ltd (MaiATech)
                    </div>
                    <p style="width: 30%; font-size: 20px; padding-bottom: 20px; position: absolute; top: -80px;">
                        Công ty MaiA được thành lập vào ngày... năm 2015... <br>
                        Công ty TNHH MaiA chuyên cung cấp giải pháp phân tích thiết kế hệ thống và xây dựn phần mềm ứng dụng theo yêu cầu.
                        Bao gồm ứng dụng mobile, ứng dụng web, ứng dụng desktop. Sau một thời gian lắng nghe yêu cầu từ phía khách hàng, với sự
                        trao dổi và tư vấn cảu Mai A, hai bên sẽ đề ra các yêu cầu và tiến độ thực hiện công việc. Cho đến nay, các sản phẩm của 
                        công ty đều đạt tiến độ và chất lượng đề ra.
                    </p>
                    <button class="introduce-btn">Read more</button>
                </div>
                <div class="picture-decor">
                    <img src="../img/Group_157.png" alt="">
                </div>
            </div>
        </div>
        <div class="body">
            <div class="body-inner">
                <div class="what-we-do">
                    <div style="font-size: 50px; font-weight: bold;">what we do</div>
                    <div style="text-align: center; font-size: 20px;">
                        Với quy trình làm việc khoa học từng bước một, maiatech sẽ cùng bạn giải quyết tất cả các vấn đề với phương châm <br>
                        "Your Problem, Our Solution"
                    </div>
                    <div class="what-we-do-inner">
                        <div>
                            <img src="../img/maiatech_icon/what-we-do-1.png" alt="" style="width: 70px;">
                            <div class="dot"></div>
                            <div style="font-size: 20px; font-weight: bold; margin: 10px;">idea</div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloribus exercitationem veritatis esse debitis vitae voluptatibus maiores odit similique, quam aperiam ab cupiditate molestias assumenda sunt facilis, et iusto perferendis!
                        </div>
                        <div>
                            <img src="../img/maiatech_icon/what-we-do-2.png" alt="" style="width: 70px;">
                            <div class="dot"></div>
                            <div style="font-size: 20px; font-weight: bold; margin: 10px;">strategy</div>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam reiciendis reprehenderit voluptatem adipisci cumque consequatur dolorem iusto ad? Deleniti autem nostrum consequuntur magni facere, obcaecati minus minima. Consequatur, odio blanditiis!
                        </div>
                        <div>
                            <img src="../img/maiatech_icon/what-we-do-3.png" alt="" style="width: 70px;">
                            <div class="dot"></div>
                            <div style="font-size: 20px; font-weight: bold; margin: 10px;">design</div>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam facere a est harum dolores ut velit soluta sint eveniet dicta expedita autem modi voluptatem, veniam magni in accusantium amet dolorem!
                        </div>
                        <div>
                            <img src="../img/maiatech_icon/what-we-do-4.png" alt="" style="width: 70px;">
                            <div class="dot"></div>
                            <div style="font-size: 20px; font-weight: bold; margin: 10px;">development</div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, beatae similique. Veritatis totam earum, eaque quidem, sunt ut incidunt aliquid consectetur explicabo quasi, quam voluptate culpa ullam sapiente atque reiciendis!
                        </div>
                        <div>
                            <img src="../img/maiatech_icon/what-we-do-5.png" alt="" style="width: 70px;">
                            <div class="dot"></div>
                            <div style="font-size: 20px; font-weight: bold; margin: 10px;">product</div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam omnis atque placeat nulla id, nam est iste quo autem repellendus assumenda odit perspiciatis, eius laborum obcaecati repudiandae explicabo fuga temporibus!
                        </div>
                    </div>
                </div>

                <div class="our-services">
                    <div class="our-service-inner">
                        <div class="our-service-inner-header" style="margin-top: 250px;">
                            <div style="font-size: 100px; font-weight: bold; color: #0061B0;">OUR</div>
                            <div style="font-size: 80px; color: #8f8f8f; margin-left: 100px;">SERVICE</div>
                        </div>
                        <div style="width: 60%; margin-top: 50px;">
                            Với định hướng chiến lược trong vòng 10 năm, MaiATech phấn đấu trở thành công ty chuyên nghiệp hàng 
                            đầu Việt Nam trong các lĩnh vực cung cấp ứng dụng phần mềm trên nền tảng Internet. Góp phần tăng năng 
                            suất, hiệu quả cho nền kinh tế, hướng tới phát triển có chiều sâu, MaiATech đã và đang tập trung năng 
                            lực chuyên môn và nguồn lực tài chính cho các lĩnh vực hoạt động sau
                        </div>
                        <div class="our-service-inner-content">
                            <div style="display: flex; flex-direction: column; justify-content: center; padding: 10px;">
                                <div style="display: flex; justify-content: center;">
                                    <img src="../img/Group_136.png" alt="" width="80px">
                                </div>
                                <div style="font-size: 20px; font-weight: bold; margin-top: 20px; text-align: center;">Phầm mềm quản lý</div>
                                <div style="display: flex; flex-direction: column; justify-content: center; text-align: center;">
                                    + Phần mềm quản lý nhân sự<br>
                                    + Phần mềm quản lý công văn <br>
                                    + Phần mềm quản lý khách hàng <br>
                                    + phần mềm kế toán
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: column; justify-content: center; padding: 10px">
                                <div style="display: flex; justify-content: center;">
                                    <img src="../img/Group_137.png" alt="" width="80px">
                                </div>
                                <div style="font-size: 20px; font-weight: bold; margin-top: 45px; text-align: center;">Tư vấn, thiết kế website</div>
                                <div style="display: flex; flex-direction: column; justify-content: center; text-align: center;">
                                    + Phần mềm quản lý nhân sự<br>
                                    + Phần mềm quản lý công văn <br>
                                    + Phần mềm quản lý khách hàng <br>
                                    + phần mềm kế toán
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: column; justify-content: center; padding: 10px">
                                <div style="display: flex; justify-content: center;">
                                    <img src="../img/Group_138.png" alt="" width="80px">
                                </div>
                                <div style="font-size: 20px; font-weight: bold; margin-top: 20px; text-align: center;">Domain, hosting, VPS, email</div>
                                <div style="display: flex; flex-direction: column; justify-content: center; text-align: center;">
                                    + Phần mềm quản lý nhân sự<br>
                                    + Phần mềm quản lý công văn <br>
                                    + Phần mềm quản lý khách hàng <br>
                                    + phần mềm kế toán
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="banner-our-services" style="float: right;">
                        <img src="../img/Group_172.png" alt="">
                    </div>
                </div>

                <div class="application-development">
                    <div class="application-development-inner">
                        <div class="application-development-inner-header" style="margin-top: 250px; display: flex; align-items: center; position: relative;">
                            <div style="position: relative; z-index: 2;">
                                <div style="font-size: 100px; font-weight: bold; color: #0061B0;">APPLICATION</div>
                                <div style="font-size: 80px; color: #8f8f8f;">DEVELOPMENT</div>
                            </div>
                            <div style="margin-left: 200px; font-size: 20px;">
                                Phát triển ứng dụng, chương trình đa nền tảng
                            </div>
                            <div class="decor">
                                <img src="../img/Group 158.png" alt="" class="decor-detail" style="top: -50px; right: 300px;">
                                <img src="../img/Rectangle 29.png" alt="" class="decor-detail" style="left: -50px; top: 200px; z-index: 1;">
                                <img src="../img/maiatech_icon/Line_1.png" alt="" style="width: 540px; position: absolute; top: 300px; right: calc(50% - 270px); z-index: -1;">
                            </div>
                        </div>
                        <div class="application-development-inner-content flex">
                            <div class="content-1">
                                <div class="content-1-container">
                                    <div style="display: flex; justify-content: center;">
                                        <img src="../img/maiatech_icon/Group.png" alt="" width="100px">
                                    </div>
                                    <div style="text-align: center; font-size: 20px; font-weight: bold; padding-top: 20px;">desktop development</div>
                                    <p style="width: 300px; text-align: center;">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi expedita placeat porro asperiores unde tempore alias deleniti ex adipisci magni aliquid quis magnam quam eaque obcaecati iure, corrupti nemo. Veritatis!
                                    </p>
                                </div>
                            </div>
                            <div class="content-2">
                                <div class="content-2-container">
                                    <div style="display: flex; justify-content: center;">
                                        <img src="../img/maiatech_icon/coding.png" alt="" width="100px">
                                    </div>
                                    <div style="text-align: center; font-size: 20px; font-weight: bold; padding-top: 20px;">web development</div>
                                    <p style="width: 300px; text-align: center;">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi expedita placeat porro asperiores unde tempore alias deleniti ex adipisci magni aliquid quis magnam quam eaque obcaecati iure, corrupti nemo. Veritatis!
                                    </p>
                                </div>
                            </div>
                            <div class="content-3">
                                <div class="content-3-container">
                                    <div style="display: flex; justify-content: center;">
                                        <img src="../img/maiatech_icon/Group 149.png" alt="" width="100px">
                                    </div>
                                    <div style="text-align: center; font-size: 20px; font-weight: bold; padding-top: 20px;">web development</div>
                                    <p style="width: 300px; text-align: center;">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi expedita placeat porro asperiores unde tempore alias deleniti ex adipisci magni aliquid quis magnam quam eaque obcaecati iure, corrupti nemo. Veritatis!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tu-van">
                    <div style="font-size: 40px; font-weight: bold; color: white;">
                        Nhận tư vấn & báo giá trực tiếp
                    </div>
                    <div class="input-container">
                        <div>
                            <input type="text" placeholder="Tên của bạn*">
                        </div>
                        <div>
                            <input type="text" placeholder="Email*">
                        </div>
                        <div>
                            <input type="text" placeholder="Công ty*">
                        </div>
                        <div>
                            <button>nhận báo giá</button>
                        </div>
                    </div>
                </div>

                <div class="software-development">
                    <div class="software-development-inner">
                        <div class="application-development-inner-header" style="margin-top: 250px; display: flex; align-items: center; position: relative;">
                            <div style="margin-left: 200px; font-size: 20px; margin-right: 200px;">
                                Chuyển nhu cầu của người dùng hoặc mục tiêu tiếp thị thành một số sản phẩm phần mềm (software)
                            </div>
                            <div style="position: relative; z-index: 2;">
                                <div style="font-size: 70px; font-weight: bold; color: #0061B0; float: right;">SOFTWARE</div>
                                <div style="font-size: 80px; color: #8f8f8f; float: right;">DEVELOPMENT</div>
                            </div>
                            <div class="decor">
                                <img src="../img/Group 158.png" alt="" class="decor-detail" style="top: -50px; left: 300px;">
                                <img src="../img/maiatech_icon/Rectangle 29.png" alt="" class="decor-detail" style="right: -50px; top: 900px; z-index: 1;">
                                <img src="../img/Line_1.png" alt="" style="width: 540px; position: absolute; top: 300px; right: calc(50% - 270px); z-index: -1;">
                            </div>
                        </div>
                        <div class="software-development-inner-content flex">
                            <div class="content-1">
                                <div class="content-1-container">
                                    <div style="display: flex; justify-content: center;">
                                        <img src="../img/maiatech_icon/Group.png" alt="" width="100px">
                                    </div>
                                    <div style="text-align: center; font-size: 20px; font-weight: bold; padding-top: 20px;">desktop development</div>
                                    <p style="width: 300px; text-align: center;">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi expedita placeat porro asperiores unde tempore alias deleniti ex adipisci magni aliquid quis magnam quam eaque obcaecati iure, corrupti nemo. Veritatis!
                                    </p>
                                </div>
                            </div>
                            <div class="content-2">
                                <div class="content-2-container">
                                    <div style="display: flex; justify-content: center;">
                                        <img src="../img/maiatech_icon/coding.png" alt="" width="100px">
                                    </div>
                                    <div style="text-align: center; font-size: 20px; font-weight: bold; padding-top: 20px;">web development</div>
                                    <p style="width: 300px; text-align: center;">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi expedita placeat porro asperiores unde tempore alias deleniti ex adipisci magni aliquid quis magnam quam eaque obcaecati iure, corrupti nemo. Veritatis!
                                    </p>
                                </div>
                            </div>
                            <div class="content-3">
                                <div class="content-3-container">
                                    <div style="display: flex; justify-content: center;">
                                        <img src="../img/maiatech_icon/Group 149.png" alt="" width="100px">
                                    </div>
                                    <div style="text-align: center; font-size: 20px; font-weight: bold; padding-top: 20px;">web development</div>
                                    <p style="width: 300px; text-align: center;">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi expedita placeat porro asperiores unde tempore alias deleniti ex adipisci magni aliquid quis magnam quam eaque obcaecati iure, corrupti nemo. Veritatis!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="meet-our-team">
                    <div class="meet-our-team-header">
                        <div style="text-align: center; font-size: 70px; font-weight: bold;">meet our team</div>
                        <div style="text-align: center; font-size: 20px;">Một số thành viên chủ chốt trong đội ngũ</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>